<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <label for="user-number">Quanti numeri vuoi?</label>
        <input type="number" id="user-number" v-model="userNumber">
        <button @click="showUserNumbers">Mostra</button>
        
        <ul v-if="numbersShow">
            <li v-for="n in userNumber">{{ n }}</li>
        </ul>
        <p v-else>Inserisci un numero</p>

    </div>

    <script src="js/script.js"></script>
</body>
</html>